In [1]:
import pandas as pd

features_df=pd.read_csv('./data/raw/features.csv')

features_df.columns

Index(['store', 'date', 'temperature', 'fuel_price', 'markdown1', 'markdown2',
       'markdown3', 'markdown4', 'markdown5', 'cpi', 'unemployment',
       'isholiday'],
      dtype='object')

In [2]:
features_df.shape

(8190, 12)

In [3]:
features_df.columns=features_df.columns.str.lower().str.replace(' ','_')

In [4]:
features_df.dtypes

store             int64
date             object
temperature     float64
fuel_price      float64
markdown1       float64
markdown2       float64
markdown3       float64
markdown4       float64
markdown5       float64
cpi             float64
unemployment    float64
isholiday          bool
dtype: object

In [5]:
features_df.head()['date']

0    2010-02-05
1    2010-02-12
2    2010-02-19
3    2010-02-26
4    2010-03-05
Name: date, dtype: object

In [6]:
features_df.to_csv('./data/raw/features.csv',index=False)

In [7]:
stores_df=pd.read_csv('./data/raw/stores.csv')
stores_df.columns=stores_df.columns.str.lower().str.replace(' ','_')

In [8]:
stores_df.dtypes

store     int64
type     object
size      int64
dtype: object

In [9]:
stores_df.shape

(45, 3)

In [10]:
stores_df.head()

   store type    size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [11]:
stores_df.to_csv('./data/raw/stores.csv',index=False)

In [12]:
train_df=pd.read_csv('./data/raw/train.csv')
train_df.columns=train_df.columns.str.lower().str.replace(' ','_')

In [13]:
train_df.dtypes

store             int64
dept              int64
date             object
weekly_sales    float64
isholiday          bool
dtype: object

In [14]:
train_df.to_csv('./data/raw/train.csv',index=False)

In [15]:
train_df.shape

(421570, 5)